@page
@model WWW1.Pages.OstatnieModel
@{
    ViewData["Title"] = "Program";
}
<p>Dane w zapisane w sesji</p>
@if (Model.Czas != null)
{
<p>   @Model.Czas.Number&nbsp; @Model.Czas.Dataa &nbsp;@Model.Czas.St</p>



    }
    </p>




